Since the demonstration was started using Kubernetes, you must use the Kubernetes command <strong>kubectl apply</strong>
to scale the application rather than specifically adding or removing members.
<p>
You have also configured <strong>Federation</strong>, so you must use the following to scale the Primary and Secondary clusters.
<p>
<strong>Primary</strong><p>
To scale the number of replicas to 2, update the primary-cluster.yaml used to create the cluster and change the replicas to 2 under the storage role:
<pre>
  replicas: 2
</pre>
Then apply this change using
<pre>
$ kubectl apply --namespace coherence-example -f yaml/primary-cluster.yaml
</pre>
<p><strong>Secondary</strong><p>
    To scale the number of replicas to 2, update the secondary-cluster.yaml used to create the cluster and change the replicas to 2 under the storage role:
<pre>
  replicas: 2
</pre>
Then apply this change using
<pre>
$ kubectl apply --namespace coherence-example -f yaml/secondary-cluster.yaml
</pre>
You can also scale the cluster using the following for the primary-cluster.
<pre>
$ kubectl scale --namespace coherence-example coherence/primary-cluster-storage --replicas=6
</pre>
