The Coherence-JVisualVM plug-in allows a Coherence cluster to be monitored using the Java VisualVM
management utility that is included with the JDK (JDK_HOME\bin\jvisualvm).
<p><p>The plug-in aggregates
Coherence MBean data and shows a concise operational view of a single Coherence cluster. Some management information is presented
over time, which allows real-time analysis and troubleshooting.
<p><p>
The Coherence-JVisualVM plug-in file (coherence-jvisualvm.nbm) is included in the
COHERENCE_HOME\plugins\jvisualvm directory and need only be installed once and will
be available to monitor Coherence clusters.
<p><p>
See <a href="https://docs.oracle.com/middleware/1221/coherence/manage/jmx.htm#COHMG5582" target="_blank">Coherence Documentation</a>
for more information on using and installing the JVisualVM Plug-in.