The following code is executed to get aggregated data across all storage-enabled nodes
for this table.
<p>
<pre>
// retrieve the trade summary using a custom aggregator across the members
Map<String, TradeSummary> mapTradesBySymbol = trades.aggregate(GroupAggregator.createInstance(Trade::getSymbol, new TradeSummaryAggregator()));

// get the current prices for the symbols
Map<String, Double> symbolPrice = Utilities.getPricesCache().aggregate(new ReducerAggregator<>(Price::getPrice));
</pre>
<p>
When additional cache servers are started, the aggregations can run in
parallel across the available servers.
</p>