Once the server is stopped (or killed), backups on other nodes for any primary partitions
that were hosted on the server are promoted to primary partitions.  Any backup partitions
that were on the member are created on a different member.
<p><p>
There is no interruption to queries or updates during this time, other than potential additional latencies
while the data is redistributed.
<p><p>
See the <a href="https://docs.oracle.com/middleware/1221/coherence/develop-applications/GUID-A41AEC6D-6679-4561-AD39-68E61C0711F9.htm#COHDG-GUID-3C6188BB-8549-41DA-B520-97DD707DDD44"
target="_blank">Oracle Documentation
</a> for more information on Distributed Caches.