Once an additional Cache Server(s) are started, Coherence re-balances the primary
and backup partitions between all members so that each has a "fair-share" of the partitions.
<p><p>
Data distributed across multiple cache servers provides additional
    redundancy for primary and backups as well as allowing queries, aggregations
and data modifications to happen in parallel and take advantage of additional
processing capabilities of the underlying machines.
<p><p>
See the <a href="https://docs.oracle.com/en/middleware/standalone/coherence/14.1.1.2206/develop-applications/introduction-coherence-caches.html#GUID-A41AEC6D-6679-4561-AD39-68E61C0711F9"
target="_blank">Oracle Documentation
</a> for more information on Distributed Caches.