<h4>Introduction</h4>
<p>
Oracle Coherence is the industry leading in-memory data grid solution that enables organizations
    to predictably scale mission-critical applications by providing fast access to frequently used data.
    As data volumes and customer expectations increase, driven by the “internet of things”, social, mobile,
    cloud and always-connected devices, so does the need to handle more data in real-time,
    offload over-burdened shared data services and provide availability guarantees.
<p>
<h4>Demonstration</h4>
This demonstration showcases Coherence reliability, scalability, availability and performance capabilities as well as:
<ul>
     <li>Parallel grid-wide query processing and aggregation</li>
     <li>Cache Persistence - creating and recovering snapshots</li>
     <li>Federation - replicating data between separate clusters</li>
     <li>Java 8 Support</li>
     <li>Coherence-REST support</li>
     <li><a href="https://github.com/coherence-community/oracle-bedrock" target="_blank">Oracle Bedrock</a> - for starting of cache servers</li>
</ul>
The UI is built using AngularJS 1.7.5, Bootstrap 3.4.0, as well as a number of other
  frameworks, and interacts with Coherence via the Coherence REST API.
<p>
<h4>Demo Insight</h4>
When Demo Insight is enabled, helpful information will be displayed in a dialog
when operations are performed, or you click on the <strong>"i"</strong> icon, to help to understand what is happening under the covers as the
application runs. You can disable this option from the tools menu.
<p>
<hr>
For more information on Coherence please see the <a href="http://www.oracle.com/technetwork/middleware/coherence/overview/index.html" target="_blank">
Coherence Documentation</a> on Oracle Technology Network.